{{ define "content" }}
  <h1 class="mt-10 mb-2 text-4xl font-medium leading-tight text-white">
  {{ if .Content }}
  Update
  {{ else }}
  Add
  {{ end }}
  Origin
</h1>
<div class="mt-10 flex items-center justify-center">
  <form class="p-8 rounded-lg shadow-md w-full max-w-sm" method="POST">
    {{ if .Content }}<input type="hidden" name="_method" value="PUT">{{ end }}
    <div class="relative mb-5">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
      <input type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        name="name" placeholder="Name" pattern="^[\w -]{3,50}$" required {{ if .Content }} value="{{ .Content.Name }}"
        disabled {{ end }}>
    </div>
    <div class="relative mb-5">
      <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL</label>
      <input type="url"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        name="url" placeholder="https://example.com" pattern="^https?://[a-zA-Z0-9-]+\.[a-z]{2,5}/?$" required
        {{ if .Content }} value="{{ .Content.Url }}" {{ end }}>
    </div>
    <div class="relative mb-5">
      <label for="pathToPluginList" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL To Plugins</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="text" name="pathToPluginList"
        placeholder="https://example.com/plugins | /plugins"
        pattern="^(https?://[a-zA-Z0-9-]+\.[a-z]{2,5}(/[a-zA-Z0-9%?=&_-]+)+|(/[a-zA-Z0-9%?=&_-]+)+)$"
        {{ if .Content }} value="{{ .Content.PathToPluginList }}" {{ end }}
        required>
    </div>
    <div class="flex items-center mb-7">
      <label class="flex flex-row items-center gap-2.5 dark:text-white light:text-black">
        <input type="checkbox"
          class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
          name="hasApi" value="yes"
          {{ with .Content }}{{ if .HasApi }} checked {{ end }}{{ end }}>
        API Available
      </label>
    </div>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-[100%]">
      Submit
    </button>
  </form>
</div>
{{ end }}