{{ define "content" }}
<h1 class="text-5xl font-bold dark:text-white leading-tight">
  {{ .Title }}
</h1>

<div class="mt-10 flex items-center justify-center">
  <form class="p-8 rounded-lg shadow-md w-full max-w-[50%] mx-auto" method="POST">
    {{ if .Content }}<input type="hidden" name="_method" value="PUT">{{ end }}

    <div class="relative mb-5">
      <label for="config" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Configuration
        <small>JSON</small>
      </label>
      <textarea type="text"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        name="config" rows="16" placeholder="{{ .Title }} here..."
        required>{{ if .Content }}{{ .Content.ConfigJson }}{{ end }}</textarea>
    </div>

    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-[100%]">
      Submit
    </button>
  </form>
</div>
{{ end }}