{{ define "content" }}
{{ $originID := -1 }}
{{ if .Content }}{{ $originID = .Content.OriginID }}{{ end }}
<h1
  class="mt-10 mb-2 text-4xl font-medium leading-tight text-white">
  {{ if .Content}}
  Edit
  {{ else }}
  Add
  {{ end }}
  Plugin
</h1>
<div class="mt-10 flex items-center justify-center">
  {{ if .Meta }}
  <form class="p-8 rounded-lg shadow-md w-full max-w-sm mx-auto" method="POST">
    {{ if .Content }}<input type="hidden" name="_method" value="PUT">{{ end }}
    <!-- make some fields uneditable/inactive in case of editing plugin -->
    <div class="relative mb-5">
      <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
      <input type="text"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        name="name" placeholder="Name" pattern="^[\w -]{3,50}$"
        {{if .Content }} value="{{ .Content.Name }}" disabled {{ end }}
        required>
    </div>
    <div class="relative mb-5">
      <label for="url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">URL</label>
      <input
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        type="url" name="url"
        placeholder="https://example.com/plugins"
        pattern="^(https?://[a-zA-Z0-9-]+\.[a-z]{2,5}(/[a-zA-Z0-9%?=&_-]+)+)$"
        {{ if .Content }} value="{{ .Content.Url }}" {{ end }}
        required>
    </div>
    <div class="relative mb-5">
      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
      <textarea type="text"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        name="description" rows="4" placeholder="Place plugin description here...">{{ if .Content }}{{ .Content.Description }}{{ end }}</textarea>
    </div>
    <div class="relative mb-5">
      <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="origin">
        Select Origin
      </label>
      <select
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        name="origin" id="origin">
        {{ range .Meta.Origins }}
        <option value="{{ .ID }}" {{ if eq $originID .ID }}selected{{ end }}>{{ .Name }}</option>
        {{ end }}
      </select>
    </div>
    <div class="flex items-start mb-7">
      <label class="flex flex-row items-center gap-2.5 dark:text-white light:text-black">
        <input type="checkbox"
          class="w-4 h-4 border border-gray-300 rounded-sm bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800"
          name="isUpdatedOnServer" value="yes"
          {{ with .Content }}{{ if .IsUpdatedOnServer }}checked{{ end }}{{ end }}
          required>
        is updated on server
      </label>
    </div>
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-[100%]">
      Submit
    </button>
  </form>
  {{ else }}
  <h2 class="text-4xl font-extrabold dark:text-white">You should add at least one origin first</h2>
  {{ end }}
</div>
{{ end }}