{{ define "content" }}
    <h1>Plugin Origins</h1>
    <a href="/origins/add">Add Origin</a>
    {{ if .Content }}
        <ol>
            {{ range .Content }}
            <li>
                <ul>
                    <li><h3><a href="/origins/{{.Slug}}">{{ .Name }}</a></h3></li>
                    <li><a href="{{ .Url }}">Website</a></li>
                    <li><a href="{{ .Url }}{{ .PathToPluginList }}">Link to plugins</a></li>
                </ul>
            </li>
            {{ end }}
        </ol>
    {{ else}}
        <h3>No origins available</h3>
    {{ end }}
{{ end }}