{{ define "content" }}
    <h1>Plugins</h1>
    <a href="/plugins/add">Add Plugin</a>
    {{ if .Content }}
        <ol>
            {{ range .Content }}
            <li>
                <ul>
                    <li><h3><a href="/plugins/{{.Slug}}">{{ .Name }}</a></h3></li>
                    <li><span>{{ .Description }}</span></li>
                    <li>{{ .IsUpdatedOnServer }}</li>
                </ul>
            </li>
            {{ end }}
        </ol>
    {{ else}}
        <h3>No plugins available</h3>
    {{ end }}
{{ end }}